header, footer {
	background-color: black;
	color: white;
	padding: 10px
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.detailed-data-container {
	padding-bottom: 10px;
}

.loading {
	height: 100vh;
}

.pollution-component {
    background-color: darkgrey;
    color: white;
    text-align: center;
}

.pollution-component > h4 {
    margin: 5px 0 0 0;
}

.pollution-component:hover {
    background-color: rgb(109, 108, 108);
    transition-duration: 1.5s;
}

.very-good {
    color: #02a114;
}

.good {
    color: #00ff1e;
}

.moderate {
    color: #fffb00;
}

.bad {
    color: #ff8c00;
}

.very-bad {
    color: #e00000;
}

.dark-mode {
	background-color: #191a1a;
	color: white;
}

.dark-border {
    border: 1px solid #191a1a;
}

.light-border {
    border: 1px solid white;
}

nav {
	margin-top: 10px
}

footer {
	text-align: center;
}


@media (max-width: 768px) {

	.pollution-component {
		flex: 0 0 auto;
    	width: 50%;
	}
}