.pollution-component {
    background-color: darkgrey;
    color: white;
    text-align: center;
    flex: 0 0 auto;
    width: 33.33333333%;
}

.pollution-component > h4 {
    margin: 5px 0 0 0;
}

.pollution-component:hover {
    background-color: rgb(109, 108, 108);
    transition-duration: 1.5s;
}

.very-good {
    color: #02a114;
}

.good {
    color: #00ff1e;
}

.moderate {
    color: #fffb00;
}

.bad {
    color: #ff8c00;
}

.very-bad {
    color: #e00000;
}

.dark-border {
    border: 1px solid black;
}

.light-border {
    border: 1px solid white;
}

.navigation-button {
    cursor: pointer;
}