<div class="container-fluid">
  <!-- <p>{{coordinates}}</p> -->
  <div *ngIf="positionData">
    <div *ngIf="positionData.length == 1">
      <h4>{{positionData[0].name}}, {{positionData[0].state}}</h4>
      <h5>{{positionData[0].country}}</h5>
    </div>
    <div>
      <h5 *ngIf="pollutionData">Air Quality: 
        <span *ngIf="pollutionData.list[0].main.aqi == 1" class="very-good">Very Good</span>
        <span *ngIf="pollutionData.list[0].main.aqi == 2" class="good">Good</span>
        <span *ngIf="pollutionData.list[0].main.aqi == 3" class="moderate">Moderate</span>
        <span *ngIf="pollutionData.list[0].main.aqi == 4" class="bad">Bad</span>
        <span *ngIf="pollutionData.list[0].main.aqi == 5" class="very-bad">Very Bad</span>
      </h5>
    </div>
  </div>
  <div *ngIf="pollutionData" class="row pollution-component-container">
    <div *ngFor="let component of graphData" class="pollution-component" [ngClass]="darkmode ? 'dark-border' : 'light-border'" title="{{component.name}}: {{component.value}}">
      <h4>{{component.value}}</h4>
      <p><strong>{{component.name}}</strong></p>
    </div>
    <div class="pollution-component navigation-button" [ngClass]="darkmode ? 'dark-border' : 'light-border'" (click)="detailedData()">
      <p><strong>Detailed Info</strong></p>
      <p><strong>&#8594;</strong></p>
    </div>
  </div>
  <div *ngIf="!positionData && !pollutionData" style="display: flex; justify-content: center">
    <div *ngIf="!darkmode" class="spinner-border text-dark" role="status" style="margin-left: auto; margin-right: auto;">
      <span class="visually-hidden">Loading...</span>
    </div>
    <div *ngIf="darkmode" class="spinner-border text-light" role="status" style="margin-left: auto; margin-right: auto;">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
</div>
