<div class="map-container">
    <h1 [ngClass]="[darkmode ? 'dark-mode' : 'light-mode']">Air Pollution Visualizer</h1>
    <app-search-bar (locationSelectEvent)="handleSearchedLocation($event)"></app-search-bar>
    <div class="map-frame">
        <div id="map">

        </div>
    </div>
    <div class="map-buttons leaflet-control-container">
        <div class="leaflet-bottom leaflet-left">
            <div class="leaflet-control-zoom leaflet-bar leaflet-control">
                <a role="button" class="leaflet-control-zoom-in" (click)="changeMode()">
                    <span title="Light Mode" *ngIf="darkmode">☀️</span>
                    <span title="Dark Mode" *ngIf="!darkmode">🌙</span>
                </a>
                <a role="button" class="leaflet-control-zoom-in" title="Detect Location" (click)="getLocation()">📍</a>
            </div>
        </div>
    </div>
    <p [ngClass]="[darkmode ? 'dark-mode' : 'light-mode']"><strong>developed by akashdandriyal</strong></p>
</div>