<div class="search-bar-container">
    <div class="search-bar" title="Search">
        <span>🔍</span>
        <input type="search" placeholder="Search" [(ngModel)]="searchText" (keyup)="handleChange($event)"/>
        <span class="search-clear-button" *ngIf="searchText.length > 0" (click)="clearSearchBar()" title="Clear">✖️</span>
    </div>
    <div class="search-results" *ngIf="searchResults">
        <div class="result-item" *ngFor="let result of searchResults.features" (click)="searchedLocation(result)" title={{result.place_name}}>
            <strong><p>{{result.text}}</p></strong>
            {{(result.place_name.length > 30) ? (result.place_name | slice:0:30) + '...' : result.place_name}}
        </div>
    </div>
</div>